@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {margin: 0;
   padding: 0;}





body {font-family: 'Montserrat', sans-serif;
      color: black;}




header {background-color: white;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 70% ;
     margin-left: 15%;
     margin-right: 15%;}

.nombre {font-size: 25px;
        font-weight: bolder;
        color: black;}

.navheader {align-self: center;}

.textnav {margin: 5px;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
         color: black;}

.iconos {align-self: center;}

.iconosheader {margin: 4px;
              font-size: 15px;
              text-decoration: none;
              color: black;}








.fotocande {width: 350px;
            height: 350px;
            border-radius: 100%;
            border-color: white;
            display: flex;
             flex-direction: column;
             align-content: center;
             align-self: center;}
     

.hero {background-color: #FF91FB;
      display: flex;
      flex-direction: row;
      padding-left: 15%;
      padding-right: 15%;
      height: 500px;}

.herodereizq {display: flex;
              justify-content: space-between;}
   

.textoyboton {display: flex;
             flex-direction: column;
             align-content: center;
             align-self: center;}

.iconohero {text-decoration: none;
                  font-weight: bold;
                  color: black;
                   margin-left: 10px;
                  font-size: 18px;}


.textoshero {display: flex;
             flex-direction: column;
             align-content: center;
             align-self: center;}

.hola {font-size: 23px;
      font-weight: lighter;
      padding-bottom: 5px;}

.desarrolladora {font-size: 50px;
                font-weight: bold;}

.viviendo {font-size: 15px;
           font-weight: lighter;
           padding-top: 5px;}

.navhero {margin-top: 30px;
         text-decoration: none;}

.textherotrabajos {background-color: black;
                  font-size: 16px;
                  color: #FF91FB;
                  font-weight: bold;
                  text-decoration: none;
                  padding: 10px;}

.textherocontacto {text-decoration: none;
                  font-size: 16px;
                  font-weight: bold;
                  color: black;
                   margin-left: 10px;
                  text-decoration-line: underline;}





.sobremi {background-color: white;
         width: 70% ;
         margin-left: 15%;
         margin-right: 15%;}

.sobremi1 {display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 30px;
          margin-bottom: 30px;}
          

.sobremirosa {text-align: center;
             background-color: #FF91FB;
             font-size: 14px;
             height: 20px;
             width: 100px;
             align-self: center;
            margin-bottom: 10px;}

.conocememas {font-size: 30px;}

.sobremidereizq {display: flex;
          flex-direction: row;
          justify-content: space-between;}

.holasoy {font-weight: normal;
         font-size: 30px;
         margin-bottom: 20px}

.candespan {font-weight: bold;
           font-size: 28px;
           text-decoration: underline;}

.smiizquierda {width: 75%;
              font-size: 16px;}

.sobremiderecha {display: flex;
      flex-direction: row;}

.tres {font-weight: bolder;
       font-size: 100px;
       text-align: center;
       justify-content: center;
       align-items: center;
      background-color: #FF91FB;
      border-radius: 60%;}

.añosexp {font-size: 20px;
         font-weight: normal;
         margin-top: 20px;}

.spanexp {font-weight: bolder;}

.sobremidatos {display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 60px;
              font-size: 14px;
              margin-bottom: 30px;}

.datosinferior {font-weight: bold;}


.servicios {background-color: rgb(234, 224, 224);}

.servicios1 {display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 30px;
      margin-bottom: 30px;}
      

.serviciosrosa {text-align: center;
         background-color: #FF91FB;
         font-size: 14px;
         height: 20px;
         width: 175px;
         align-self: center;
        margin-bottom: 10px;}

.comopuedoayudarte {font-size: 30px;}

.serviciosiconoseinfo {margin-left: 15%; 
            margin-right: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
             align-items: center;}


.cajaservicios {width: 250px; 
           height: 250px;
           display: flex;
           flex-direction: column;
           align-items: center;
           text-align: center;
           flex-grow: 1;}

.iconserv {font-size: 30px;
            color: #FF91FB;}

.titcajas {font-size: 15px;}
      
.textcajas {font-size: 10px;}





           

.curriculum1 {display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 30px;
            margin-bottom: 30px;}

.cvrosa {text-align: center;
            background-color: #FF91FB;
            font-size: 14px;
            height: 20px;
            width: 175px;
            align-self: center;
           margin-bottom: 10px;}
   
.unpocodemicv {font-size: 30px;}

.cvdereizq {display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 15%;
      padding-right: 15%;}

.educyexptit {font-size: 20px ;
              margin-bottom: 15px;}
   
.educyexpsub1 {font-size: 15px ;
              font-weight: bold;
              margin-bottom: 10px;}

.educyexpsub2 {font-size: 12px ;
               font-weight: bold;
               margin-bottom: 10px;}

.educyexpdescp { font-size: 12px;
                 margin-bottom: 10px;
                color: rgb(87, 87, 87);}

.habilidades {display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 15%;
      padding-right: 15%;
      margin-top: 30px;
      font-size: 14px;}

.habcajas {display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 15px;}

.habder {display: flex;
      flex-direction: column;}

hr { height: 8px;
      width: 475px;
      border: 20px;
   background-color: white;}

.textobarra {display: flex;
             flex-direction: row;
             justify-content: space-between;
            font-weight: bold;
            font-size: 10px;}


.setentaycinco {width: 75%;
      background-color: #FF91FB;}

.noventaycinco {width: 95%;
      background-color: #FF91FB;}
             
.setenta {width: 70%;
      background-color: #FF91FB;}
             
.noventa {width: 90%;
      background-color: #FF91FB;}

.dcv {display: flex;
      justify-content: center;
      margin-top: 10px;
      font-size: 12px;
      color: black;
      font-weight: normal;
      text-decoration: none;
      padding: 10px;}




